  .navbar {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:1490px;
    height: 65px;
    z-index: 1000;
    padding: 10px 0;
        
  }
  
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo img {
    height: 40px;
  }
  
  .search-bar {
    flex: 1;
     margin: 0 20px ; 
     margin-right: 100px;
    width: 10px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 30px;
    height: 60px;
    font-size: 20px;
  }
   .search-bar .searchIcon{
    position: absolute;
    top:15%;
    height: 45px;
    margin-left: 50px;
    margin-top: -90px;
    color: grey;
    padding-left: 5px;

  
    padding-top: 10px;
  }
   
  .nav-links a {
    margin-left: 20px;
    color: black;
    text-decoration: none;
     font-weight: bold;
     margin-top: -80px; 
  }
  
  .nav-links  span{
     padding:10px 15px 0 20px;

    display: inline-block;
    color: black;
    margin-right: 20px;
    border-right: 2px solid gray;
    margin-top: -10px;
    
    
  }
 
.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdn-content {
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none; 
  z-index: 1;
}

.dropdn-content p {
  color: rgb(48, 48, 48); 
  padding: 10px;
  text-align: center;
}

.dropdn-content a {
  color: white; 
  padding: 5px;
  text-decoration: none;
}
.dropdown img{
  width:50px;
  margin-top: -15px;
  padding-top: 1px;
  margin-right: -35px;
}

.dropdn-content img {
  width: 150px;
  padding: 10px;
}

.dropdown:hover .dropdn-content {
  display: block; 
}
/* .line{
  display: flex;
  flex-direction: column;
} */