.cart-container2625 {
    margin-top: 100px;
    padding: 20px;
}

.cart-items {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid black;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.cart-item-details {
    flex: 1;
}

.cart-item-rating {
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: gray;
}
